@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");
// Colors
$primary-clr1: #ea5353;
$primary-clr2: #45d3d3;
$primary-clr3: #fcaf4a;
$primary-clr4: #549ef2;
$neutral-clr1: hsl(234, 12%, 34%);
$neutral-clr2: hsl(229, 6%, 66%);
$neutral-clr3: hsl(0, 0%, 98%);

// Font size
$fs1: Rem(15);

// Font Family
$ff1: "Poppins", sans-serif;

// Font Weight
$fw1: 200;
$fw2: 400;
$fw3: 600;

// Cards Gap
$c-gap: Rem(30);
